body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cf1616;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    background-color: #0b0c0d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #131415;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

p {
    color: #333;
}

#status {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
